body {
	text-align: center;
	background: #000000 url('bg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position:center;
	background-size: cover;
}

div {
	color: white;
	font-family: sans-serif, Helvetica;
	position: relative;
	margin-top: 25%;


}